body{
    padding: 0 0;
    margin: 0 0;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    background-color: #22B7A4;
    cursor: pointer;
}

.rubrique{
    width: 24%;
    display: inline-block;    
    text-align: center;
    color: red;
    font-size: 20px;
}